@tailwind base;
@tailwind components;
@tailwind utilities;

input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #166534 inset !important; 
  -webkit-text-fill-color: white !important; 
  font-size: 16px !important; 
  line-height: normal !important;
  caret-color: white;
  transition: background-color 9999s ease-in-out 0s;
  font-family: inherit !important; 
}

.typing-cursor::after {
  content: "▊";
  animation: blink 1s step-start infinite;
  margin-left: 2px;
  color: #3b82f6; 
}

@keyframes blink {
  50% { opacity: 0; }
}
